@page "/account/logout"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Authentication.Cookies
@attribute [AllowAnonymous]

<PageTitle>Logout - OpCentrix</PageTitle>

@code {
    [CascadingParameter] private HttpContext? HttpContext { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (HttpContext != null)
        {
            await HttpContext.SignOutAsync(CookieAuthenticationDefaults.AuthenticationScheme);
        }
    }
}

<meta http-equiv="refresh" content="0;url=/account/login" />
<p>Logging out...</p>
